[Unit]
Description=Neutis N5 self-tester
After=dev-ttyGS0.device
After=bluetooth.service NetworkManager.service
After=serial_number.service reflash-utility.service
Requires=dev-ttyGS0.device

[Service]
Type=oneshot
ExecStart=/sbin/self-tests.py
ExecStart=/bin/systemctl disable self-tests && sync

[Install]
WantedBy=multi-user.target
