[Unit]
Description=Neutis N5 connectors tester
After=getty.target
After=getty@tty1.service
After=self-tests.service

[Service]
Type=oneshot
ExecStart=/sbin/connector-tests.py
ExecStart=/bin/bash -c 'systemctl disable connector-tests && sync'

[Install]
WantedBy=multi-user.target
