[Unit]
Description=Neutis N5 connectors tester
After=getty.target
After=getty@tty1.service
After=self-tests.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'systemctl disable connector-tests && sync'
ExecStart=/sbin/connector-tests.py

[Install]
WantedBy=multi-user.target
